@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');

:root {
  /* --primary-color: rgb(40, 57, 97); */
  --snow: rgb(220, 231, 256);
  --primary-color: #283961;
  --secondary-color: #ffeddf;
  --tertiary-color: #7d98a1;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Asap', sans-serif;

  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  width: calc(100% - 1em);
  top: 0;
  left: 0;
  padding: .5em;
  transition: background .25s ease-in, color .25s ease-in;
  background: var(--primary-color);
}

header a {
  color: white;
  text-decoration: none;
}

html[data-scroll='0'] header {
  background: transparent;
}

html[data-scroll='0'] a {
  text-shadow: 2px -2px 8px var(--snow), 1px 0px 4px var(--snow);
  color: black;
}

nav {
  display: flex;
  justify-content: space-around;
}

main {
  font-size: 1.5em;
}

#hero > img {
  overflow: hidden;
  align-content: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

section > h1 {
  font-family: 'Sriracha', sans-serif;
  margin: 0;
  line-height: 1;
  margin-bottom: .25em;
}

section#blurb, section#countdown, section#blog {
  padding: 1em;
}

#blurb, #blog {
  background: var(--secondary-color);
}

#blurb > h1 {
  font-size: 2.5em;
}

.flavor-images img {
  width: 100%;
}

#countdown-body {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 200%;
  padding: .5em 0;
}

#countdown-body span {
  display: inline-block;
  margin: 0;
}

#countdown-body td:first-child {
  text-align: right;
  width: 1.5em;
  padding-right: .5em;
}

footer {
  padding: .5em;
  text-align: center;
  background: var(--primary-color);
  color: white;
}
