:root {
  --primary-color: rgb(40, 57, 97);
}

body {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;

  width: 100%;
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
}

header {
  padding: 1em;
  background: var(--primary-color);
  font-weight: bolder;
}

nav {
  display: flex;
  justify-content: space-around;
}

#hero > img {
  overflow: hidden;
  /* display: flex; */
  align-content: center;
  object-fit: cover;
  width: 100%;
}

section > h1 {
  text-align: center;
  margin-top: 0;
}

#blurb {
  padding: 1em;
  padding-bottom: 2em;
  background: rgb(220, 231, 256);
  min-height: 24%;
}

#countdown {
  padding: 1em;
}

footer {
  padding: .5em;
  text-align: center;
  background: var(--primary-color);
  color: white;
}
