@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');

:root {
  /* --primary-color: rgb(40, 57, 97); */
  --snow: rgb(220, 231, 256);
  --primary-color: #283961;
  --secondary-color: #ffeddf;
  --tertiary-color: #7d98a1;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Asap', sans-serif;

  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: .5em 0;
  transition: background .25s ease-in, color .25s ease-in;
  background: var(--primary-color);
}

header a {
  color: white;
  text-decoration: none;
}

html[data-scroll='0'] header {
  background: transparent;
}

html[data-scroll='0'] header a {
  text-shadow: 2px -2px 8px var(--snow), 1px 0px 4px var(--snow);
  color: black;
}

nav {
  display: flex;
  justify-content: space-around;
}

#hero > img {
  overflow: hidden;
  align-content: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

section {
  font-size: 1.5em;
}

section > h1, section > h2 {
  font-family: 'Sriracha', sans-serif;
  margin: 0;
  line-height: 1;
  margin-bottom: .25em;
}

section > h2 {
  font-size: 1.1em;
  margin-bottom: .5em;
}

section:not(.flavor-images) {
  padding: 1em;
}

#blurb, #blog {
  background: var(--secondary-color);
}

#blurb > h1 {
  font-size: 2.5em;
}

.flavor-images img {
  width: 100%;
}

#countdown-body {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 200%;
  padding: .5em 0;
}

#countdown-body span {
  display: inline-block;
  margin: 0;
}

#countdown-body td:first-child {
  text-align: right;
  width: 1.5em;
  padding-right: .5em;
}

footer {
  padding: .5em;
  text-align: center;
  background: var(--primary-color);
  color: white;
}

/* BLOG ***********************************************************************/
.skinny {
  margin: 0 auto;
  width: calc(100% - 2em);
  max-width: 30em;
}

.blog-image {
  width: 100%;
}

main.blog-main {
  padding-top: 2em;
}

@media (min-width: 550px) {
  body {
    display: grid;
    height: 100vh;
    grid-template:
      "hero nav" max-content
      "hero main"
      / min-content 1fr;
  }

  #hero {
    grid-area: hero;
    height: 100vh;
  }

  #hero img {
    height: 100vh;
    width: auto;
    max-width: 50vw;
  }

  header {
    /* all: unset; */
    position: relative;
    grid-area: nav;
  }

  html[data-scroll='0'] header {
    background: var(--primary-color) !important;
  }
  
  html[data-scroll='0'] header a {
    text-shadow: none;
    color: white;
  }
  
  main {
    grid-area: main;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  section.grow {
    flex-grow: 1;
  }
}
